KAFKA_BROKERS=localhost:9093

ORDER_SERVICE_PORT=8081
ORDER_DB_HOST=localhost
ORDER_DB_PORT=5432
ORDER_DB_USER=postgres
ORDER_DB_PASSWORD=postgres
ORDER_DB_NAME=orders_db
ORDER_DB_SSLMODE=disable

PAYMENT_SERVICE_PORT=8082
PAYMENT_DB_HOST=localhost
PAYMENT_DB_PORT=5433
PAYMENT_DB_USER=postgres
PAYMENT_DB_PASSWORD=postgres
PAYMENT_DB_NAME=payments_db
PAYMENT_DB_SSLMODE=disable

NOTIFICATION_SERVICE_PORT=8083
NOTIFICATION_DB_HOST=localhost
NOTIFICATION_DB_PORT=5434
NOTIFICATION_DB_USER=postgres
NOTIFICATION_DB_PASSWORD=postgres
NOTIFICATION_DB_NAME=notifications_db
NOTIFICATION_DB_SSLMODE=disable

REDIS_HOST=localhost
REDIS_PORT=6379

SLOW_CONSUMER=false
SLOW_CONSUMER_DELAY=5s

LOG_LEVEL=info
